In [1]:
import pandas as pd

In [3]:
d2014=pd.read_csv("G:\ml notebooks\Road_RUL\datasets\datasets\d2014f.csv")
d2015=pd.read_csv("G:\ml notebooks\Road_RUL\datasets\datasets\d2015f.csv")
d2016=pd.read_csv("G:\ml notebooks\Road_RUL\datasets\datasets\d2016f.csv")
d2017=pd.read_csv("G:\ml notebooks\Road_RUL\datasets\datasets\d2017f.csv")

## Lets combine our datasets to make a single dataframe

In [82]:
finaldata=pd.concat([d2014,d2015,d2016,d2017])

In [83]:
finaldata.drop(['AirPressure','Unnamed: 0'],inplace=True,axis=1)

In [84]:
finaldata

,DIR,PCI,DMI,IRI,Pavement_Section_From,Pavement_Section_To,Lat,Lon,Year,AverageTemp,TempRange,Precipitation,WindSpeed
0,E,85.74,8.97,1.17,FORT ERIE - GILMORE RD IC-5,FORT ERIE - CENTRAL AV IC,42.919138,-78.968180,2014,8.375000,9.80,1079.0,16.491667
1,W,91.51,9.54,1.08,FORT ERIE - CENTRAL AV IC,FORT ERIE - GILMORE RD IC-5,42.909536,-78.918073,2014,8.375000,9.80,1079.0,16.491667
2,E,89.05,9.09,0.87,NIAG FALLS - 1.0 KM W OF NETHERBY RD IC-12,GILMORE RD I/C,42.975538,-79.038586,2014,9.854545,8.40,1534.0,14.400000
3,W,88.16,9.03,0.91,GILMORE RD I/C,NIAG FALLS - 1.0 KM W OF NETHERBY RD IC-12,42.919210,-78.967961,2014,8.375000,9.80,1079.0,16.491667
4,N,88.72,9.17,1.01,1.0 KM W OF NETHERBY RD I/C,NIAG FALLS - LYONS CK RD IC-21,42.975610,-79.038328,2014,9.854545,8.40,1261.0,14.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1823,B,91.87,9.65,1.17,HWY 400 IC,HWY 7909 (NOBEL RD),38.810012,-77.045936,2017,15.758333,9.90,905.2,14.125000
1824,B,84.19,8.82,1.19,WEST JCT OF HWY 2,ROSE ISLAND LANE,44.251579,-72.571407,2017,9.715000,11.35,1748.0,9.358333
1825,B,79.51,8.28,1.17,ROSE ISLAND LANE,NARROWS LANE RD,44.353108,-76.039714,2017,18.200000,9.80,128.0,9.358333
1826,B,81.10,8.51,1.23,NARROWS LANE RD,BROWNS BAY PARK,44.353108,-76.039714,2017,18.200000,9.80,128.0,9.358333
1827,B,89.69,9.37,1.12,BROWNS BAY PARK,EAST JUNCTION OF HIGHWAY 2,-33.651882,151.278900,2017,8.645949,8.25,972.6,9.358333

In [85]:
finaldata['P_combine']=finaldata.apply(lambda row: sorted([row['Pavement_Section_From'],row['Pavement_Section_To']]),axis=1)
finaldata['P_combine']=finaldata['P_combine'].apply(lambda x: ', '.join(map(str,x)))

In [86]:
finaldata['P_combine']

0       FORT ERIE - CENTRAL AV IC, FORT ERIE - GILMORE...
1       FORT ERIE - CENTRAL AV IC, FORT ERIE - GILMORE...
2       GILMORE RD I/C, NIAG FALLS - 1.0 KM W OF NETHE...
3       GILMORE RD I/C, NIAG FALLS - 1.0 KM W OF NETHE...
4       1.0 KM W OF NETHERBY RD I/C, NIAG FALLS - LYON...
                              ...
1823                      HWY 400 IC, HWY 7909 (NOBEL RD)
1824                  ROSE ISLAND LANE, WEST JCT OF HWY 2
1825                    NARROWS LANE RD, ROSE ISLAND LANE
1826                     BROWNS BAY PARK, NARROWS LANE RD
1827          BROWNS BAY PARK, EAST JUNCTION OF HIGHWAY 2
Name: P_combine, Length: 7315, dtype: object

In [87]:
#Now lets sort it so that we can see data of one street over 4 years properly
# Sort the DataFrame
finaldata = finaldata.sort_values(by=['P_combine', 'Year'], ascending=True)
finaldata.drop(['Pavement_Section_From','Pavement_Section_To'],axis=1,inplace=True)

In [88]:
#as pavement sections is irrelevant data, it wont really effect the result, so we drop them
finaldata.drop(['P_combine'],axis=1,inplace=True)
finaldata.drop(['DIR'],axis=1,inplace=True)

In [89]:
finaldata.head(20)

,PCI,DMI,IRI,Lat,Lon,Year,AverageTemp,TempRange,Precipitation,WindSpeed
483,95.50,9.95,1.04,55.879841,-4.384015,2016,9.450000,7.100000,2014.00,14.412500
477,71.59,8.92,2.99,55.879841,-4.384015,2017,9.554167,6.550000,1873.00,16.136364
484,96.27,9.98,0.98,38.241449,-81.876559,2016,13.966667,13.900000,1065.40,7.600000
478,74.30,9.28,3.07,38.241449,-81.876559,2017,13.941667,14.100000,1182.20,7.841667
481,92.53,9.97,1.46,46.283666,-78.399988,2014,6.984782,8.927387,1812.00,11.276974
473,92.54,9.97,1.46,46.283666,-78.399988,2015,7.652170,10.138684,937.00,13.079545
1748,69.47,8.44,3.50,50.640679,-93.237588,2014,-0.054167,3.075000,560.45,9.222222
1753,69.49,8.44,3.50,50.640679,-93.237588,2015,6.190000,7.600000,290.80,6.400000
1770,68.16,8.44,3.74,50.640679,-93.237588,2016,4.709091,9.800000,565.45,7.000000
1758,53.76,6.84,3.74,50.640679,-93.237588,2017,2.416667,8.800000,633.90,7.611111
482,94.54,9.83,1.03,46.249589,-78.290632,2016,9.027576,10.140669,500.00,14.525000
476,73.85,9.18,3.00,46.249589,-78.290632,2017,8.645949,9.994240,2206.00,15.664773
480,92.54,9.98,1.47,46.273187,-78.367633,2014,6.984782,8.927387,914.00,11.364145
472,92.56,9.98,1.47,46.273187,-78.367633,2015,7.652170,10.138684,1040.00,12.916288
456,70.48,8.52,2.66,49.800622,-94.486638,2014,1.266667,6.600000,724.80,12.141667
581,67.27,8.16,2.66,49.800622,-94.486638,2015,3.866667,9.850000,840.60,10.810256
593,79.34,8.52,1.48,49.800622,-94.486638,2016,4.333333,7.000000,956.00,13.806250
586,80.06,8.71,1.61,49.800622,-94.486638,2017,2.845833,7.525000,807.90,11.941667
455,79.15,8.38,1.34,49.801891,-94.404235,2014,1.266667,6.600000,724.80,12.277778
580,76.61,8.10,1.34,49.801891,-94.404235,2015,3.866667,9.850000,840.60,10.507051

In [90]:
finaldata.corr()

,PCI,DMI,IRI,Lat,Lon,Year,AverageTemp,TempRange,Precipitation,WindSpeed
PCI,1.000000,0.933828,-0.766403,0.088666,-0.036590,0.048056,-0.136915,-0.022153,-0.130785,0.061397
DMI,0.933828,1.000000,-0.533998,0.049663,-0.021319,0.037899,-0.086943,-0.013234,-0.100994,0.052396
IRI,-0.766403,-0.533998,1.000000,-0.138253,0.061538,-0.042486,0.211693,0.044957,0.162683,-0.081327
Lat,0.088666,0.049663,-0.138253,1.000000,-0.396914,-0.028117,-0.446070,-0.121599,-0.105089,0.013014
Lon,-0.036590,-0.021319,0.061538,-0.396914,1.000000,0.038857,0.215771,-0.061038,0.085970,0.079784
Year,0.048056,0.037899,-0.042486,-0.028117,0.038857,1.000000,0.149021,0.139219,0.077985,-0.157172
AverageTemp,-0.136915,-0.086943,0.211693,-0.446070,0.215771,0.149021,1.000000,0.008811,0.207293,-0.012002
TempRange,-0.022153,-0.013234,0.044957,-0.121599,-0.061038,0.139219,0.008811,1.000000,0.024866,-0.114108
Precipitation,-0.130785,-0.100994,0.162683,-0.105089,0.085970,0.077985,0.207293,0.024866,1.000000,-0.089556
WindSpeed,0.061397,0.052396,-0.081327,0.013014,0.079784,-0.157172,-0.012002,-0.114108,-0.089556,1.000000

## Choosing appropriate model and training for inference
Our dataset is ready for training and this is essentially a time series data as it is data encapsulating 4 years of data, now we need to see the most appropriate model to predict RUL

From exising research papers and numerous articles, there is no fixed value of pci below which we can say the road is now in need of maintenance but in most cases, any value below 50 is generally indicates the road is in bad condition so we can fixate on 50 for now, IF we had more data, it would be possible to get a more accurate value.

Using a Time Series model like ARIMA is probably not effective here due to the dataset being quite small and it has only data across 4 years for a particular street, so we can just use regressive models to predict when the PCI value will dip below 50 numerically

We are going to be using a LSTM Model to predict when the value of PCI will go below 50 based on the above dataset, it is quite an unorthodox approach but the data acquired and the requirement are quite distant and there is no direct way to get desired result, so we will have to compromise a bit on the quality of output

In [114]:
finaldata.columns

Index(['PCI', 'DMI', 'IRI', 'Lat', 'Lon', 'Year', 'AverageTemp', 'TempRange',
       'Precipitation', 'WindSpeed'],
      dtype='object')

In [130]:
data=finaldata.copy()

In [131]:
data.drop(['Lat','Lon'],inplace=True,axis=1)

In [152]:
data.sort_values(['Year'],ascending=True)

,PCI,DMI,IRI,Year,AverageTemp,TempRange,Precipitation,WindSpeed
739,50.29,6.51,2.94,2014,8.530000,7.05000,696.90,17.992308
251,80.78,8.15,0.84,2014,5.420833,9.05000,612.60,13.825000
252,72.32,8.01,1.80,2014,5.420833,9.05000,612.60,13.100000
253,68.55,7.60,1.81,2014,5.595833,8.65000,396.60,12.375000
1103,82.01,8.40,0.98,2014,6.641667,7.50000,816.65,13.645455
...,...,...,...,...,...,...,...,...
1817,80.95,8.92,1.75,2017,10.241667,11.30000,663.60,16.116667
295,73.68,7.52,1.04,2017,8.645949,9.99424,1537.20,14.252500
1761,87.56,9.50,1.56,2017,8.645949,9.99424,698.00,10.775000
1252,79.00,8.10,1.02,2017,9.675000,8.30000,1031.10,14.086364
128,92.23,9.49,0.93,2017,8.645949,9.99424,579.00,13.089731

After trying out several models and frameworks and types of Regression and Time Series Forecasting models, The data was just not enough for a good prediction.

Mentioned in Scope For Improvement, Will work on augmenting data further and get a prediction of PCI AND RUL via a predictive model via extrapolation